<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Titre de la présentation</title>

		<link rel="stylesheet" href="../revealjs/dist/reset.css">
		<link rel="stylesheet" href="../revealjs/dist/reveal.css">
		<link rel="stylesheet" href="../revealjs/dist/theme/serif.css">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="../revealjs/plugin/highlight/monokai.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">


                <!-- diapo de titre -->
                <section data-state="hide-menubar hide-menu">
                    <h2>Titre</h2>
                    <h4>date : jj mois aaaa</h4>
                    <h5>autres info</h5>
                    <p>logo</p>
                </section>


                <!-- Table des matières -->
                <section>
                    <h2>Table des matières</h2>
                    <ul class="menu"></ul> <!--Keep empty-->
                </section>




                <!-- Section 1 -->
				<section data-name="section 1">
                    <section class="center">
                        <h2>titre</h2>
                        <p>paragraphe</p>

                        <aside class="notes">
                            notes
                        </aside>
                    </section>


                    <section class="center">
                        <h1>tailles titres</h1>
                        <h2>titre h2</h2>
                        <h3>titre h3</h3>
                        <h4>titre h4</h4>
                        <h5>titre h5</h5>
                        <p>paragraphe</p>

                        <aside class="notes">
                            notes
                        </aside>
                    </section>


                    <section class="center">
                        <h2>1 image plein écran</h2>
                        <img class="r-stretch" src="images/placeholder.png">
                        <p><figcaption>Figure 1 : Image</figcaption></p>

                        <aside class="notes">
                            notes
                        </aside>
                    </section>	
                    
                    
                    <section class="center">
                        <h2>2 images</h2>
                        
                        <table class="r-stretch">
                            <tr>
                                <td>
                                    <img src="images/placeholder.png">
                                    <p><figcaption>Figure 1 : Image</figcaption></p>
                                </td>
                                <td>
                                    <img src="images/placeholder.png">
                                    <p><figcaption>Figure 1 : Image</figcaption></p>
                                </td>
                            </tr>
                        </table>

                        <aside class="notes">
                            notes
                        </aside>
                    </section>	


                    <section class="center">
                        <h2>1 image + texte</h2>
                        
                        <table class="r-stretch">
                            <tr>
                                <td>
                                    <img src="images/placeholder.png">
                                    <!-- <p><figcaption>Figure 1 : Image</figcaption></p> -->
                                </td>
                                <td>
                                    <div>
                                        <br>
                                        <p>Objectifs</p>
                                        <br>
                                        <ul>
                                            <li>Processus local</li>
                                            <li>Détails adaptés au terrain</li>
                                            <li>Résultat plus naturel</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <aside class="notes">
                            notes
                        </aside>
                    </section>	


                    <section class="center">
                        <h2>texte + 1 image</h2>
                        
                        <table class="r-stretch">
                            <tr>
                                <td>
                                    <div>
                                        <br>
                                        <p>Objectifs</p>
                                        <br>
                                        <ul>
                                            <li>Processus local</li>
                                            <li>Détails adaptés au terrain</li>
                                            <li>Résultat plus naturel</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <img src="images/placeholder.png">
                                    <!-- <p><figcaption>Figure 1 : Image</figcaption></p> -->
                                </td>
                            </tr>
                        </table>

                        <aside class="notes">
                            notes
                        </aside>
                    </section>	

				</section>


                <!-- Section 2 -->
                <section  data-name="section 2">
                    <section data-name="subsection 2.1">
                        <h1>Slide</h1>
                        <p> équation à part : 
                            $$Phasor(\mathbf{u}) = H \circ G_{f,\theta}(\mathbf{u})$$
                        <!-- </p>
                        <p> -->
                            <br>
                            équation dans du texte : $G_{f,\theta}(\mathbf{u})$
                        </p>

                        <aside class="notes">
                            notes
                        </aside>
                    </section>


                    <section data-background-iframe="https://chgrenier.github.io/" data-background-interactive data-preload>
                        <h2>Iframe background</h2>

                        <aside class="notes">
                            notes
                        </aside>
                    </section>


                    <section>
                        <h2>Iframe</h2>
                        <iframe data-src="https://hakim.se" data-preload></iframe>

                        <aside class="notes">
                            notes
                        </aside>
                    </section>


                    <section>
                        <h2>webGL frame</h2>

                        <iframe class="r-stretch" data-src="applications/index.html" data-preload></iframe>


                        <aside class="notes">
                            notes
                        </aside>
                    </section>


                </section>




                <!-- Section 3 -->
                <section  data-name="section 3">
                    <section data-name="subsection 3.1">
                        <h1>Slide</h1>
                        <p>
                            slide 3 1
                        </p>

                        <aside class="notes">
                            notes
                        </aside>
                    </section>

                    <section data-name="subsection 3.2">
                        <h1>Slide</h1>
                        <p>
                            slide 3 2
                        </p>

                        <aside class="notes">
                            notes
                        </aside>
                    </section>
                </section>




                <!-- diapo de fin -->
                <section data-state="hide-menubar hide-menu">
                    <h3>Merci de votre attention</h3>
                    <p>éventuelles info de fin</p>
                </section>


			</div>
		</div>

		<script src="../revealjs/dist/reveal.js"></script>
		<script src="../revealjs/plugin/notes/notes.js"></script>
		<script src="../revealjs/plugin/markdown/markdown.js"></script>
		<script src="../revealjs/plugin/highlight/highlight.js"></script>
        <script src="../revealjs/plugin/simplemenu/simplemenu.js"></script>
        <script src="../revealjs/plugin/math/math.js"></script>

		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true, // Add the current slide number to the URL hash so that reloading the page/copying the URL will return you to the same slide
                transition:'none',
                navigationMode:"linear",
                slideNumber: 'c/t', // Display the page number of the current slide
                progress: true, // Display a presentation progress bar
                margin: 0.12, // Factor of the display size that should remain empty around the content

                width: 1920,
                height: 1080,
                
                katex: {
                    version: 'latest',
                    delimiters: [
                    {left: '$$', right: '$$', display: true},
                    {left: '$', right: '$', display: false},
                    {left: '\\(', right: '\\)', display: false},
                    {left: '\\[', right: '\\]', display: true}
                ],
                ignoredTags: ['script', 'noscript', 'style', 'textarea', 'pre']
                },

                simplemenu: {
                        flat: true,
                        scale: 0.4,
                        barhtml: {
                            header: "<div class='menubar'>\
                                        <ul class='menu'></ul>\
                                        <div class='slide-number'>\
                                            </div>\
                                        </div>",
                            footer: "<div class='menubar'>\
                                            <p> <\p>\
                                            <p>jj/mm/aaaa<\p>\
                                            <p><b>Titre de la présentation</b><\p>\
                                            <p>Charline Grenier<\p>\
                                        </div>"
                        }
                    },

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, Simplemenu, RevealMath.KaTeX ]
			});

		</script>

        <script>
            Reveal.addEventListener( 'ready', function( event ) {
                Reveal.slide(0);
                // Reveal.toggleOverview(true);
            });
        </script>

        
	</body>
</html>
